- var name = "placeholder"
- var links = {source: "widget", docs: "widget"}
- var libs = ["d3.v4", "lodash.4.17.4"]
- var modules = ["widget", "widgets.picture"]
- var description = "A placeholder is a toggleable text replacement of the widget. Each widget comes with the method <code>placeholder</code> that substitutes the widget content with the specified message."
include templates/example
script.doc.
    // create widget
    var width = parseFloat(d3.select("#widget").style("width"));
    var height = parseFloat(d3.select("#widget").style("height"));
    var picture = new du.widgets.Picture("mypicture", "#widget")
        .width(width)
        .height(height)
        .src("data/macika.jpg")
        .render();
script.doc.
    // toggle placeholder when hovered
    picture
        .mouseover(function (img) {
            // Show placeholder when hovered
            picture.placeholder("The image '" + img.src.split('/').pop() + "' is not available");
        })
        .mouseleave(function () {
            // Remove placeholder
            picture.placeholder();
        });
+resize('picture')