- var name = "hint"
- var links = {minjs: "widgets.hint", source: "widgets.hint", docs: "widgets.hint"}
- var libs = ["d3.v4", "lodash.4.17.4"]
- var modules = ["widget", "widgets.hint"]
- var description = "Hints are small text bubbles that can be used to direct the attention to some interesting parts of the dashboard and thus facilitate engagement. By default they disappear once the mouse is moved, but you can also pin them to the dashboard to add permanent messages."
include pug/example
script.doc.
    // add hints
    var hint1 = new du.widgets.Hint("hint", "#widget")
        .x(20)
        .y(50)
        .text("This is a pinned hint, it won't disappear on mouse move")
        .pin(true)
        .render();

    var hint2 = new du.widgets.Hint("hint", "#widget")
        .x(120)
        .y(130)
        .text("This is a temporary hint, it disappears if you interact")
        .render();