- var name = "picture"
- var links = {minjs: "widgets.picture", source: "widgets.picture", docs: "widgets.picture"}
- var libs = ["d3.v4", "lodash.4.17.4"]
- var modules = ["widget", "widgets.picture"]
- var description = "A picture widget is just a static image."
include pug/example
script.doc.
    // create widget
    var width = parseFloat(d3.select("#widget").style("width"));
    var height = parseFloat(d3.select("#widget").style("height"));
    var picture = new du.widgets.Picture("mypicture", "#widget")
        .width(width)
        .height(height)
        .src("data/macika.png")
        .render();
script.doc.
    // add interactions
    picture.click(function (img) {
        // Show picture name
        alert("Picture name: '" + img.src.split('/').pop() + "'");
    });
+resize()