- var name = "progressbar"
- var links = {minjs: "widgets.progressbar", source: "widgets.progressbar", docs: "widgets.progressbar"}
- var libs = ["d3.v4", "lodash.4.17.4"]
- var modules = ["widget", "widgets.progressbar"]
- var description = "A minimalistic progress bar."
include pug/example
script.doc.
    // create widget
    var width = parseFloat(d3.select("#widget").style("width"));
    var height = parseFloat(d3.select("#widget").style("height"));
    var progressbar = new du.widgets.ProgressBar("mylabel", "#widget")
        .width(width)
        .height(height)
        .label("Loading 0%")
        .align("left")
        .fontSize(16)
        .backgroundColor("#ddd")
        .fontColor("dodgerblue")
        .thickness(2)
        .render();
script.doc.
    // update
    var t = 0;
    function run() {
        progressbar
            .percentage(t)
            .label("Loading " + Math.round(t) + "%")
            .render();
        t = t < 100 ? t+Math.random() : 0.;
        setTimeout(run, -100 * Math.log(Math.random()))
    }
    run();
+resize()