- var name = "trackpad"
- var links = {minjs: "widgets.trackpad", source: "widgets.trackpad", docs: "widgets.trackpad"}
- var libs = ["d3.v4", "lodash.4.17.4"]
- var modules = ["widget", "widgets.trackpad"]
- var description = "A trackpad is a <span class='good'>two dimensional control</span> widget that can be used to simultaneously adjust two independent dimensions of a data set."
include pug/example
script.doc.
    // add trackpad
    var width = parseFloat(d3.select("#widget").style("width"));
    var height = parseFloat(d3.select("#widget").style("height"));
    var trackpad = new du.widgets.TrackPad("trackpad", "#widget")
        .x(0.5*(width - 0.8*Math.min(width, height)))
        .y(0.5*(height - 0.8*Math.min(width, height)))
        .width(0.8*Math.min(width, height))
        .height(0.8*Math.min(width, height))
        .margins(30)
        .xRange([0, 255])
        .yRange([0, 255])
        .guide(true)
        .fontColor("rgba(0, 100, 0)")
        .callback(function (x, y) {
            // Change own color
            trackpad
                .fontColor("rgb(" + parseInt(x) + ",100," + parseInt(y) + ")")
                .render();
        })
        .render();
script.
    window.onresize = function () {
        width = parseFloat(d3.select("#widget").style("width"));
        height = parseFloat(d3.select("#widget").style("height"));
        trackpad
            .x(0.5 * (width - 0.8 * Math.min(width, height)))
            .y(0.5 * (height - 0.8 * Math.min(width, height)))
            .width(0.8 * Math.min(width, height))
            .height(0.8 * Math.min(width, height))
            .render();
    };