- var name = "areachart"
- var links = {minjs: "widgets.areachart", source: "widgets.areachart", docs: "widgets.areachart"}
- var libs = ["d3.v4", "lodash.4.17.4"]
- var modules = ["widget", "widgets.areachart"]
- var description = "Area charts are used to show <span class='good'>numerical series</span> in which consecutive values have a relationship. Good examples are time series of <span class='good'>volume type data</span> (e.g., sales) or a density distribution of some quantity (probability density).<br><br> Due to its transparent nature, only a <span class='bad'>few plots</span> should be used to avoid unrecognizable boundaries."
include pug/example
script.doc.
    // create chart
    var width = parseFloat(d3.select("#widget").style("width"));
    var height = parseFloat(d3.select("#widget").style("height"));
    var areachart = new du.widgets.AreaChart("mychart", "#widget")
        .data([
            {
                name: "mango",
                values: new Array(200).fill(0).map(function (d, i) {
                    return {
                        x: i / 2,
                        y: 5 * Math.pow(i / 40, 2)
                    };
                })
            },
            {
                name: "kiwi",
                values: new Array(100).fill(0).map(function (d, i) {
                    return {
                        x: i,
                        y: 10 * Math.log(i + 1)
                              * Math.pow(Math.cos(Math.PI * i / 15), 2) + 2
                    };
                })
            }
        ])
        .width(width)
        .height(height)
        .xLabel("value")
        .yLabel("probability density")
        .margins(40)
        .fontSize(14)
        .tooltip(true)
        .render();
script.doc.
    // update data
    setInterval(function() {
        var tau = 2 * Math.random();
        var phi = 5 * Math.random() + 10;
        areachart.data([
            {
                name: "mango",
                values: new Array(200).fill(0).map(function (d, i) {
                    return {
                        x: i / 2,
                        y: 5 * Math.pow(i / 40, tau)
                    };
                })
            },
            {
                name: "kiwi",
                values: new Array(100).fill(0).map(function (d, i) {
                    return {
                        x: i,
                        y: 10 * Math.log(i + 1)
                              * Math.pow(Math.cos(Math.PI * i / phi), 2) + 2
                    };
                })
            }
        ]).render();
    }, 2000000);
script.doc.
    // add interactions
    areachart
        .mouseover(function (k) {
            // Highlight hovered plot
            areachart.highlight(k, 300);
        })
        .mouseleave(function () {
            // Remove highlights by passing null
            areachart.highlight(null, 300);
        })
        .click(function (k) {
            // Show an alert on click
            alert("Plot clicked: '" + k + "'");
        })
        .render();
+resize()